<!DOCTYPE html>
<html>

<head>
    <title>Customer List</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/CSS/Addmin_Product_list.css">

    <style>
       
    </style>
    </script>
</head>

<body>
    <%- include("./partials/Nav.ejs") %>
    <div class="container">
        <h1>Product List</h1>
        <center><a href="/admin/Add_Product"><button class="btn">Add</button></a></center>
        <center><a href="#"><button class="btn">Delete All</button></a></center>
        <% if (Allproducts.length > 0) { %>
        <table id="product-table">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Delete</th>
            </tr>
            <% Allproducts.forEach(pro=> { %>
            <tr class="r">
                <td><%= pro.ProductName %></td>
                <td><%= pro.Description %></td>
                <td><%= pro.Price %> LE</td>
                <td><%= pro.Quantity %></td>
                <td>
                    <form action="/admin/deleteP" method="POST">
                        <button type="submit" name="id" value="<%= pro._id %>">Delete</button>
                    </form>
                    <a href="/admin/editp/<%= pro._id %>">Edit</a>
                </td>
            </tr>
            <% }) %>
        </table>
        <% } else { %>
        <p>There are no products to display...</p>
        <% } %>
    </div>
    <script src="script.js"></script>
</body>

</html>
