<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//code.tidio.co/tu1stys3qwixtipasrjnph1mwc7mgfl8.js" async></script>
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>your cart</title>
    <link rel="stylesheet" href="carttt.css">
    <link rel="stylesheet" href="CSS/NavBar.css">

    <script src="https://kit.fontawesome.com/3929e16ef5.js" crossorigin="anonymous"></script>
    <script src="{% static 'network/functions.js' %}"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/CSS/Cart.css">

    <style>
       
    </style>

</head>

<body>
    <%- include("./partials/Nav.ejs") %>
    <br>
    <section>
        <table id="t1" class="table">
            <tr>
                <th>Remove</th>
                <th>Product</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>

            <% if (carts.length > 0) { %>
            <% carts.forEach(crt=> { %>
            <div onclick="" class="pro">
                <tr>
                    <td>
                        <form action="/user/remove_from_cart" method="post" id="remove_from_cart">
                            <input hidden id="pname" name="pname" value="<%= crt.ProductName%>"></input>
                            <input hidden id="psize" name="psize" value="<%= crt.Size%>"></input>
                            <input value="remove" type="submit" value="<%= crt._id%>"></input>

                        </form>


                    </td>
                    <td><%= crt.ProductName%></td>
                    <td><%= crt.Size%></td>
                    <td><%= crt.Price%> EGP</td>
                    <td><%= crt.Quantity %></td>
                    <td><%= crt.Price * crt.Quantity %> EGP</td>
                </tr>

                <% }) %>
                <% }%>
        </table>
    </section>
    <br>
    <section>
        <table class="table3" id="t3">
            <tr>
                <th class="header" colspan="5">CART TOTAL</th>
            </tr>
            <tr>
                <td class="header">subtotal</td>
                <td id="sub_tot" class="price" colspan="4"></td>
            </tr>
            <tr>
                <td class="header">shipping</td>
                <td class="price" colspan="4">50</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid #000;" class="header">Total</td>
                <td id="tot" style="border-top: 1px solid #000;" class="price" colspan="4"></td>
            </tr>
            <tr>
                <% if (carts.length > 0) { %>
                    <% carts.forEach(crt=> { %>
              <td colspan="5"><button id="checkoutButton">
             <a href="/user/checkout"><span id="checkout">Check Out</span>
              <span class="material-symbols-outlined" id="arrowicon">
                arrow_forward</span>
            </a> 
            </button></td>
            <% }) %>
            <% }%>
                

            
            </tr>
        </table>
    </section>

</body>

<script>
    var table = document.getElementById("t1");
    sumVal = 0;
    for (var i = 1; i < table.rows.length; i++) {
        sumVal = sumVal + parseFloat(table.rows[i].cells[5].innerHTML);
    }
    document.getElementById("sub_tot").innerHTML = sumVal;
    document.getElementById("sub_tot").value = sumVal;

    document.getElementById("tot").innerHTML = sumVal + 50;

</script>

</html>
