<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/Public/CSS/Home.css">


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//code.tidio.co/tu1stys3qwixtipasrjnph1mwc7mgfl8.js" async></script>
    <script src="https://kit.fontawesome.com/42a3832eaa.js" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="CSS/footer.css">
    <link rel="stylesheet" href="CSS/NavBar.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/CSS/Home.css">

    <style>
        #hero {
    background-image: url("/Images/woman-1245817.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero button {
    background-image: url("Images/woman-1245817.jpg");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700px;
    font-size: 15px;
}
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("Images/banner2.jpg");
    background-size: 100%;
    width: 100%;
    height: 40vh;
    background-position: center;
}
#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/pp222.jpg");
    background-size: 100%;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;

}

#sm-banner .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/new.jpg");
    background-size: 100%;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

    </style>
</head>

<body>
    <%- include("./partials/Nav.ejs") %>
    <section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>Save more withe coupons & up to 70% off!</p>
        <a href="Product"><button>Shop now</button></a>
    </section>


    <section id="product1" class="section-p1">
        <hr>
        <h2>Featured Products</h2>
        <p>Best Summer Collection of all time</p>
        <div class="pro-container">
            <% products.forEach((product) => { %>
            <div class="pro">
              <img class="p1" src="/Images/<%= product.Image %>">
              <div class="des">
                <span><%= product.ProductName %></span>
                <h5><%= product.title %></h5>
                <div class="star">
                  <i class="material-icons">star</i>
                  <i class="material-icons">star</i>
                  <i class="material-icons">star</i>
                  <i class="material-icons">star</i>
                  <i class="material-icons">star</i>
                </div>
                <h4><%= product.price %></h4>
                <div>
                    <form action="/item" method="post" id="add_to_cart">
                        <input name="pname" value ="<%= product.ProductName%>" hidden></input>
                        <input name="psize" value="<%= product.Size%>" hidden></input>
                        <input class="buy-button"  type="submit" onclick="" value="Show Item"/></input>
                        <a href="/item" method="post"><i class="material-icons cart">shop</i></a>
                    </form>
                  </div>
              </div>
              <a href="/item"><i class="material-icons cart">shop</i></a>
              

            </div>
            <% }) %>
          </div>
    </section>
    <section id="banner" class="section-m1">
        <h4>Repair Services</h4>
        <h2>Up to <span>>70% off</span> - All t-shirts & Accessories</h2>
        <a href="Product"><button class="normal">Explore More</button></a>
    </section>
    <section id="product1" class="section-p1">
        <h2>New collection</h2>
        <p>Best Summer Collection of all time</p>
        <div class="pro-container">
            <% productss.forEach((product) => { %>
            <div class="pro">
              <img class="p1" src="/Images/<%= product.Image %>">
              <div class="des">
                <span><%= product.ProductName %></span>
                <h5><%= product.title %></h5>
                <div class="star">
                  <i class="material-icons">star</i>
                  <i class="material-icons">star</i>
                  <i class="material-icons">star</i>
                  <i class="material-icons">star</i>
                  <i class="material-icons">star</i>
                </div>
                <h4><%= product.price %></h4>
              </div>
              <div>
                <form action="/item" method="post" id="add_to_cart">
                    <input name="pname" value ="<%= product.ProductName%>" hidden></input>
                    <input name="psize" value="<%= product.Size%>" hidden></input>
                    <input class="buy-button"  type="submit" onclick="" value="Show Item"/></input>
                    <a href="/user/Cart"><i class="material-icons cart">shop</i></a>
                </form>
              </div>
            
              
            </div>
            <% }) %>
          </div>
    </section>
    <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4>Crazy deals</h4>
            <h2>Buy 1 get 1 free</h2>
            <span>The best gym wear is on sale at LionSoul</span>
            <a href="Product"><button class="white">Learn more</button></a>
        </div>
        <div class="banner-box banner-box2">
            <h4>Crazy deals</h4>
            <h2>Buy 1 get 1 free</h2>
            <span>The best gym wear is on sale at LionSoul</span>
            <a href="Product"><button class="white">Collection</button></a>
        </div>
    </section>
    <%- include("./partials/Footer.ejs") %>
</body>

</html>
