<!DOCTYPE html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//code.tidio.co/tu1stys3qwixtipasrjnph1mwc7mgfl8.js" async></script>
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="Style.css" />
<script src="https://kit.fontawesome.com/3929e16ef5.js" crossorigin="anonymous"></script>
<script src="{% static 'network/functions.js' %}"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="CSS/footer.css">
<link rel="stylesheet" href="CSS/NavBar.css">

<title>Document</title> 

<link rel="stylesheet" href="/CSS/Item.css">

</head>
<body>
    <%- include("./partials/Nav.ejs") %>
    <section class="container sproduct">
        <% if (products.length> 0) { %>
            <% products.forEach(prod=> { %>
        <div class="row mt-5">
            <div class="col-lg-5 col-md-12 col-12 pb-1">
                <img class="r img-fluid w-100" src="/Images/<%= prod.Image %>" width="500">
            </div>
            <section class="tt">
                <div class="col-lg-6 col-md-12 col-1h6">
                    <h3 class="py-4">Men's Fashion T-Shirt</h3>
                    <h2><%= prod.Price%> LE</h2>

                    <form action="/user/add_to_cart" method="post" id="add_to_cart">
                        <select class="se">
                            <option>select Size</option>
                            <option>S</option>
                            <option>M</option>
                            <option>L</option>
                            <option>XL</option>
                        </select>
                        <input type="hidden" name="product_id" value="<%= prod._id %>">
                        <input class="py-4" name="pname"value ="<%= prod.ProductName%>" hidden></input>
                        <input name="pprice" value="<%= prod.Price%>" hidden></input>
                        <input type="number" name="pquantity" value="1">    
                        <div class="h_container">
                            <i id="heart2" class="far fa-heart"></i>
                        </div>
                        <button class="buy-button"  type="submit" onclick="" value="add to cart !"/>Add To Cart</button>
                    </form>


                    
                    
                    <h4 class="q">Product Details</h4>
                    <span><%= prod.Description%></span>
                    
            

                </div>
            </section>
        </div>
        <% }) %>
        <% } %>
        
    </section>
    <br>
    <hr>
    <section id="product1" class="section-p1" style="margin-left: 100dp;">
    <h2>Best Summer Collection</h2>
    <div class="pro-container">
        <% productss.forEach((product) => { %>
        <div class="pro">
            <img class="p1" src="/Images/<%= product.Image %>">
            <div class="des">
                <span><%= product.ProductName %></span>
                <h5><%= product.title %></h5>
                <div class="star">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </div>
                <h4><%= product.price %></h4>
            </div>
            <div>
                <form action="/item" method="post" id="add_to_cart">
                    <input name="pname" value ="<%= product.ProductName%>" hidden></input>
                    <input name="psize" value="<%= product.Size%>" hidden></input>
                    <input class="buy-button"  type="submit" onclick="" value="Show Item"/></input>
                    <a href="/user/Cart"><i class="material-icons cart">shop</i></a>
                </form>
              </div>

        </div>
        <% }) %>
    </div>
    </section>
    <br><br><br>
    <section id="f">
        <%- include("./partials/Footer.ejs") %>
    </section>
</body>
</html>
