<!DOCTYPE html>
<html>
<head>
  <title>Search Results</title>
  <link rel="stylesheet" href="/CSS/Addmin_Users.css">


  </style>
</head>


<body>

  <%- include("./partials/nav.ejs") %>

  <div class="container">
    <h1>Search Results:</h1>

    <% if (products.length > 0) { %>
    <table id="customer-table">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <% products.forEach(product=> { %>
        <tr>
            <td>
                <%= product.ProductName %>
            </td>
            <td>
                <%= product.Price %>
            </td>
            <td>
            <div>
              <form action="/item" method="post" id="add_to_cart">
                <input name="pname" value ="<%= product.ProductName%>" hidden></input>
                <input name="psize" value="<%= product.Size%>" hidden></input>
                <input class="buy-button"  type="submit" onclick="" value="Show Item"/></input>
            </form>
            </div>
          </td>
        </tr>
        <% }) %>
    </table>
    <% } else { %>
    <p>There are no Messages to display...</p>
    <% } %>
</body>
</html>
